.leftBar {
  flex: 2;
  position: sticky;
  top: 60px;
  // leftBar 的高度為視窗高度減去 60px，避免被頂部的導航列遮住
  height: calc(100vh - 60px);

  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 20px;

    hr {
      margin: 20px 0px;
      border: none;
      height: 0.5px;
      background-color: lightgray;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 12px;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          font-size: 20px;
          color: #e2a6a8;
        }
      }

      span {
        font-size: 12px;
      }
    }
  }
}
